<!DOCTYPE html>
<html>
  <head>
  <link href="StyleSheet.css" rel="stylesheet" type="text/css">
  <div class="container">
     <h1>Your Information</h1>
     <form method="POST" action="/">
        <h1> {{ html_form.name.label }} </h1>
        <p> {{ html_form.name.data }} </p>
        <h1> {{ html_form.difficulty.label }}: {{ html_form.difficulty.data }} </h1>

        <h2> Skill Points <h2> 
        <p> {{ html_form.pilot.label }}: {{ html_form.pilot.data }} </p>
        <p> {{ html_form.merchant.label }}: {{ html_form.merchant.data }} </p>
        <p> {{ html_form.fighter.label }}: {{ html_form.fighter.data }} </p>
        <p> {{ html_form.engineer.label }}: {{ html_form.engineer.data }} </p>
     </form>
  </div>
  </head>
</html>