<!DOCTYPE html>
<html>
  <head>
    <title>Bandit Encounter</title>
    <style>
      h1,
      h2,
      h3,
      p {
        font-family: "Helvetica";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Oh no! An Encounter!</h1>
      <img src="{{url_for('static', filename=game.npc.img)}}" />
      <form method="POST">
        <ul>
          {% for option in game.npc.options %}
          <input
            type="radio"
            name="regions"
            value="{{option}}"
          />
          {{
            option
          }}
          <br />
          {% endfor %}
          <input type="submit" value="Select"></input>
        </ul>
      </form>
    </div>
  </body>
</html>
