<!DOCTYPE html>
<html>
  <head>
    <title>Encounter</title>
    <style>
      h1,
      h2,
      h3,
      p {
        font-family: "Helvetica";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1> Look, A {{game.npc.name}} has appeared!!</h1>
      <img src="{{game.npc.img}}" />
      <form method="POST">
        <h2>Options</h2>
        <ul>
          {% for option in game.npc.options %}
          <input
            type="radio"
            name="options"
            value="{{option}}"
          />
          {{
            option
          }}
          <br />
          {% endfor %}
          {% if game.npc.name == 'Trader' %}
          <h1>Item Offered: {{ game.npc.itemKey }}</h1>
          {% endif %}
          <input type="submit" value="Select" title="let's go!"></input>
        </ul>
      </form>
    </div>
  </body>
</html>
