{%- extends "base.html" %} {% import "bootstrap/utils.html" as utils %} {% block
title %}Character Information{% endblock %} {% block content %}
<div class="container">
  <div class="container">
    <div class="page-header">
      <h1>Player Information</h1>
    </div>
    {%- with messages = get_flashed_messages(with_categories=True) %} {%- if
    messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
    {%- endif %} {%- endwith %}
      <div class="container">
        <h1>Potential Regions</h1>
        <h3>Current Region --- {{ game.curr_region }}</h3>
        <form method="POST">
          <ul>
            {% for region in game.universe.regions %}
            <input
              type="radio"
              name="regions"
              value="{{region.number}}"
            />
            {{
              region
            }}
            --- DISTANCE TO REGION:
            {{ (((game.curr_region.x_coord - region.x_coord) ** 2 + (game.curr_region.y_coord - region.y_coord) ** 2) ** 0.5) |round(3) }}
            <br />
            {% endfor %}
            <input type="submit" value="Travel"></input>
          </ul>
        </form>
        <form method="POST">
        <input type="submit" name="refuel" value="refuel"></input>
        </form>
        <form method="POST">
          <input type="submit" name="repair" value="repair"></input>
          </form>
      </div>
      <h3> Current Fuel: {{ game.player.ship.current_fuel }} </h3>  
      <h3> Current Credits: {{ game.player.credits }} </h3>  
      <h3> Ship Health: {{ game.player.ship.health }} </h3>
      <form method="POST">
        <ul>
          {% for key in game.curr_region.market.keys() %}
          <input
            type="radio"
            name="market"
            value="{{key}}"
          />
          {{
            key
          }} | 
          price: {{ game.curr_region.market.get(key) }}
          <br />
          {% endfor %}
          <input type="submit" value="Buy"></input>
        </ul>
      </form>
  
      <h3> Current Inventory: </h3>
  
      <form method="POST">
        <ul>
          {% for item in game.player.ship.inventory %}
          <input
          type="radio"
          name="inventory"
          value="{{item}}">
            {{ item }}
          </input>
          <br />
          {% endfor %}
          <input type="submit" value="Sell"></input>
        </ul>
      </form>
    </div>
  </div>
</div>
{%- endblock %}
