<!DOCTYPE html>
<html>
  <head>
    <title>Bandit Encounter</title>
    <style>
      h1,
      h2,
      h3,
      p {
        font-family: "Helvetica";
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1> You upset the trader, so he raises the price of the item </h1>
      <form method="POST">
        <h2>Options</h2>
        <ul>
          {% for option in game.npc.optionsNoNegotiate %}
          <input
            type="radio"
            name="options"
            value="{{option}}"
          />
          {{
            option
          }}
          <br />
          {% endfor %}
          {% if game.npc.name == 'Trader' %}
          <h1>Item Offered: {{ game.npc.itemKey }} , Item Price: {{ game.npc.itemValue }}</h1>
          <h1>Item Price: {{ game.npc.itemValue }}</h1>
          {% endif %}
          <input type="submit" value="Select" title="let's go!"></input>
        </ul>
      </form>
    </div>
  </body>
</html>
